.box{
    width: 100px;
    height: 100px;
    background-color: red;
}

.box:hover{
    width: 100px;
    height: 100px;
    background-color: green;
}

div.gallery {
    width: 200px;
    
}

div.gallery_item{
    border-radius: 999px;
    float: left;
    border: 2px solid indigo;
    width: 29%;
    margin: 2px;
    text-align: center;
}

